/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* commons */
body {
  background-color: #0f0e17;
  color: #fff;
  font-family: 'Fredoka', sans-serif;
}

h1,
h2 {
  color: #e53270;
}
h1 {
  margin-top: 50px;
  margin-bottom: 20px;
}
h3 {
  color: #fd8906;
  margin-bottom: 10px;
}

/* layout */
.container {
  width: 80%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.item {
  width: 32%;
  padding: 10px;
  text-align: center;
  /* width: calc(100% / 3) */
}

/* item */
.item img {
  height: 150px;
}

/* footer */
footer {
  margin-top: 20px;
}
